.content {
    background-color: #ffffff;
}

.content img{
    border-radius: 10px;
    border: 2px solid #003d75;
    box-sizing: border-box;
    display: flex;
    width: 1314.72px;
    height: 350px;
    margin: 0px auto;
}


