.nav {
    grid-area: n;
    background-color: #bee8ff;
    height: 400px;
}

.link{
    display: flex;
    justify-content: start;
    margin-left: 15px;
}

.link:first-child{
    margin-top: 10px;
}


a{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: black;
    margin-bottom: 10px;
    text-decoration: none;
}

a:focus{
    color: #0f6bc5;
}

