.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1500px;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 80px 1fr;
    grid-template-columns:2fr 15fr;
    column-gap:10px;
    row-gap:10px;

}